<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="fatal">
	<Properties>
		<!-- Change this appropriately -->
		<Property name="log-path">/mnt/vol1/tomcat/tomcat1/logs/cds-web</Property>
	</Properties>
	<Appenders>
		<RollingFile name="RollingFile" fileName="${log-path}/cds-web.log"
			filePattern="${log-path}/cds-web-%d{yyyy-MM-dd}.log.gz" ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d{DEFAULT}|%p{length=5}|CDS-WEB:%X{REQUEST_UUID}|%c|%M:%L| - %m%n</Pattern>
			</PatternLayout>
			<Policies>
			  <SizeBasedTriggeringPolicy size="25 MB" />
			  <TimeBasedTriggeringPolicy  interval="1" modulate="true" />
			</Policies>
		</RollingFile>
		
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d|%p{length=5}|CDS-WEB:%X{REQUEST_UUID}|%c|%M:%L| - %m%n" />
		</Console>
		
		<RollingFile name="MetricFile" fileName="${log-path}/cds-web-metrics.log"
			filePattern="${log-path}/cds-web-metrics-%d{yyyy-MM-dd}.log.gz" ignoreExceptions="true">
			<PatternLayout>
				<Pattern>%d{DEFAULT}|%X{CLIENT_IP}|%X{REQUEST_UUID}|CDS-WEB|%X{EVENT_NM}|%X{EVENT_SUCCESS_IND}|%X{EVENT_DETAIL}%n</Pattern>
			</PatternLayout>
			<Policies>
			  <SizeBasedTriggeringPolicy size="25 MB" />
			  <TimeBasedTriggeringPolicy  interval="1" modulate="true" />
			</Policies>
		</RollingFile>
		
		
	</Appenders>
	<Loggers>
	<!-- Catch All logging, logs above WARN into console (non-application components go here) -->
		<Root level="trace">
			<AppenderRef ref="Console" level="WARN" />
		</Root>
		
		<!-- Section for all Application logging starts (com.hix)-->
		<logger name="com.hixapi" additivity="true" level="ALL">
			<!-- 
			 - Everything INFO and above will go to File, note it goes to Root(Console) also due to additivity 
			   and get logged in Root Logger if above its configured level-->
			<AppenderRef ref="RollingFile" level="INFO" />
			<!-- 
			 - Everything INFO and above will go to below logger (RollingFile) also (note it goes to root also due to additivity)
			   and get logged in Root Logger if above its configured level.
			 - Change to Console & DEBUG in Eclipse environment for developer usage.
			 - Remove this line to have only async DB logging for INFO -  Above INFO, goes to DB and Root(Console)
			  -->
			<!-- <AppenderRef ref="Console" level="DEBUG" />  -->
			
		</logger>
		
		<!--  Uncomment the section below if 'com.hix' logger above is set to ERROR, and you want 
				only performance info/url hits to be logged to DB/File -->
		<!-- <logger name="com.hix.proxy.framework.net.ApacheHttpConnector" additivity="true">
			<AppenderRef ref="Failover" level="INFO" />
			<AppenderRef ref="RollingFile" level="INFO" /> 
		</logger>
		<logger name="com.hix.proxy.framework.struts.PerformanceInterceptor" additivity="true">
			<AppenderRef ref="Failover" level="INFO" />
			<AppenderRef ref="RollingFile" level="INFO" /> 
		</logger>
		-->
		 
		<!-- Metrics Logging -->
		<logger name="com.hixapi.web.framework.context.MetricEvent" additivity="false">
			<AppenderRef ref="MetricFile" level="INFO" />
		</logger>
		<!-- Section for all Application logging ends -->
	</Loggers>
</Configuration>